:root{
    --main-color: #FB474E;

    --after-margin-left: 28%;
    --after-width: 34%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'sans-serif';    
}

body{
    display: flex;
    flex-direction: column;    
}

.apresentacao{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    color: #FFFAFA;        
    border-bottom-right-radius: 15%;
    box-shadow: 5px 5px 20px #000;
}

header{    
    display: flex;
    justify-content: space-around;    
    margin-bottom: 2%;
    height: 80px;
    align-items: center;
}

header .title{
    font-size: 42px;
    font-weight: bold;
    text-shadow: 2px 4px 5px #000;
}

header .logos{    
    margin-top: 3%;
    display: flex;
    flex-direction: row-reverse;
}


header .button-logo{
    background-color: transparent;
    border: none;    
    cursor: pointer;    
}

header .light-logo{
    
    left: 24%;
    top: 3%;
}

header .logo{
    border-radius: 50%;
    box-shadow: 4px 4px 15px #000;    
    transition: opacity 1s;
}

.light-logoo{   
    width: 120px;
}

.dark-logo{
    width: 95px;
}

header .button-logo:hover .logo{
    opacity: 0.9;
}

header ul{
    display: flex;     
    /* min-width: 12%; */
    justify-content: space-between;    
    width: 220px;    
}

header ul li{
    list-style: none;    
}

header ul li a{
    text-decoration: none;
    color: #FFFAFA;
    font-size: 20px;
    opacity: 0.9;
}

header ul li .active{
    text-decoration: underline;
    opacity: 1 !important;
}

header ul li a:hover{
    opacity: 0.6;
}

.slogan{
    display: flex;
    justify-content: space-around;    
    align-items: center;
    margin-bottom: 5%;
}

.apresentacao .frases{    
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-left: 5%;
}

.apresentacao .frases #main-phrase{    
    font-size: 72px;
    font-weight: bold;
    
    max-width: 700px;
    opacity: 0.9;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-bottom: 4%;        
}

.apresentacao .frases #main-phrase::after{
    content: "";
    width: var(--after-width);
    background-color: #FFFAFA;
    height: 4px;    
    margin-right: var(--after-margin-left);
    /* align-self: flex-start; */
}

.apresentacao .frases h2{    
    max-width: 700px;
}

.examples{    
    align-items: center;
}

.examples img{
    width: 500px;    
}


.button{
    background-color: #FFFAFA;
    border: none;
    display: flex;
    align-self: flex-start;
    margin-left: 4%;
    cursor: pointer;
    box-shadow: 4px 6px 15px #000;
    justify-content: space-between;
    align-items: center;    
    padding: 2%;
    border-radius: 25px;
    margin-top: 12%;
    width: 28%
}

.button a{
    text-decoration: none;
    font-weight: 800;
    color: var(--main-color) ;
    font-size: 18px;
}

.button i{
    color: var(--main-color);
    font-size: 26px;
}

.button:hover{
    opacity: 0.8;
}

.about-us{    
    height: 60vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.about-us img{
    width: 300px;    
}

.content{
    border: 2px solid #000;
    width: 40%;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.about-us .text{    
    display: flex;
    flex-direction: column;
    margin-left: 2%;    
    width: 38%;
    height: 58%;
    justify-content: space-between;
}

.label{
    color: var(--main-color);
    font-weight: 800;
    font-size: 36px;
    display: flex;
    align-items: center;    

}

.label::before{
    content: "";
    width: 7px;
    height: 66px;
    background-color: var(--main-color);    
    margin-right: 1%;    
}

.about-us .text .phrases{
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 58%;     */
    font-size: 16px;
    font-weight: 400;    
}

.install{
    margin-top: 10%;
    margin-bottom: 15%;
    padding: 4%;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    width: 85%;
    align-self: center;
    box-shadow: 5px 4px 20px #000;
}

.install .qrcode{
    background-color: #FFFAFA;
    align-self: center;
    border-radius: 50px;
}

.install .top{
    display: flex;
    margin-left: 4%;
    justify-content: space-between;    
    width: 72%;    
}

.install .top p{
    color: #FFFAFA;
    font-size: 32px;
    font-weight: 700; 
    margin-bottom: 4%;  
    opacity: 0.9; 
}

.install .top .button{
    width: 40%;
    height: 12%;
}

.install .scan{
    background-color: #FFFAFA;
    align-self: flex-end;
    border-radius: 18px;
    padding: 10px;    
}

.install .scan img{
    width: 50px;
}

.our-squad{    
    margin-bottom: 20%;
    height: 45vh;
    display: flex;
    justify-content: space-around;    
    width: 60%;
    align-self: center;
    flex-direction: column;
}

.team{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    width: 95%;
    align-self: flex-end;
    height: 80%;
    cursor: pointer;
    margin-top: 4%;
}

.team img{
    width: 150px;
    transition: 1s;
    /*background-color: #000;
    border-radius: 30%;*/
}

.team div:hover img{
    width: 160px;
}

.team .team-content{    
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 20px #000;
    height: 100%;
    width: 20%;
    border-radius: 20px;
}

.team .team-content i{
    font-size: 32px;
}

.team .team-content a{
    color: #0072b1;
}

.team .team-content a:hover{
    opacity: 0.6;
}


.team-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 40%;
}

.team-information p{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

footer{
    background-color: var(--main-color);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
}

footer p{    
    color: #FFFAFA;
    font-size: 26px;    
}

footer .copyright{    
    font-size: 20px;
}

.my-carousel{
    display: flex;    
    flex-direction: column;
    width: 90%;
    align-self: center;
    height: 65vh;
    align-items: flex-start;
    margin-top: 15%;
    margin-bottom: 15%;    
 
}

.my-carousel label{    
    width: 500px;
    max-width: 500px;
    margin-left: 4%;
}

.owl-carousel{    
    margin-top: 4%;    
    align-self: flex-end;
   
}

.owl-carousel .item{
    cursor: pointer;    
    padding: 4%;
    border-radius: 20px;
    background-color: #FFFAFA;
    box-shadow: 2px 2px 12px #000;    
    width: 220px;
    transition: 1s;
    display: flex;
    margin-top: 4%;
    margin-bottom: 4%;    
}

.owl-carousel .item:hover {
    width: 230px;    
}

.owl-carousel .item img{
    border-radius: 5px;
}

.my-carousel .owl-dots{
    display: none;
}

.my-carousel .owl-nav{
    display: none;
}